* {
  margin: 0px;
  padding: 0px;
}

header {
  width: 90%;
  margin: 30px 5%;
}

.logo {
  width: 20%;
  float: left;
}

.menu {
  margin-left: 150px;
  float: right;
}

.banner {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.banner img {
  width: 100%;
  margin: 5%;
}

.dots {
  text-align: center;
  width: 80%;
  margin: auto 10% 50px;
  overflow: hidden;
}

.project {
  width: 90%;
  margin: 50px 10%;
  overflow: hidden;
}

.project_one {
  width: 60%;
  float: left;
}

.project_one h2 {
  margin-bottom: 50px;
}

.project_one p {
  margin-bottom: 15px;
  float: left;
  font-size: 16px;
  width: 47%;
  height: 150px;
  margin-left: 10%;
}

.project_two {
  float: right;
  width: 40%;
}

.project_two img {
  width: 100%;
  float: right;
  margin: 5%;
}

.projectdate {
  width: 90%;
  margin: 50px 10%;
  overflow: hidden;
}

.projectdate_one {
  width: 47%;
  float: left;
}

.projectdate_one h2 {
  margin-bottom: 20px;
  width: 47%;
}

.projectdate_one h6 {
  color: rgb(124, 118, 118);
  font-size: 15px;
}

.projectdate_two {
  width: 47%;
  float: right;
}

.projectdate_two h2 {
  margin-bottom: 20px;
  width: 47%;

}

.projectdate_two p {
  margin-bottom: 15px;
  float: left;
  font-size: 16px;
  width: 66%;
  height: 150px;
  color: rgb(124, 118, 118);
}

.image {
  width: 90%;
  margin: 30px 5%;
  overflow: hidden;
  height: 300px;
}
.image_one {
  width: 32%;
  float:left;
  height: 300px;
}
.image_one img {
  height: 300px;
  width: 100%;
}
.image_two {
  width: 32%;
  float: left;
  height: 300px;
  margin-left: 2%;
}
.image_two img {
  height: 300px;
  width: 100%;
}
.image_three{
  width: 32%;
  float: right;
  height: 300px;
} 
  
.image_three img {
  height: 300px;
  width: 100%;
}
.Projectrole {
  width: 90%;
  margin: 50px 10%;
  overflow: hidden;
}
.projectrole_one {
  width: 47%;
  float: left;
}
.projectrole_one h2 {
  margin-bottom: 10px;
  width: 47%;
}
.projectrole_one h6 {
  margin-bottom: 15px;
  font-size: 16px;
  width: 66%;
  height: 150px;
  color: rgb(124, 118, 118);
}
.projectrole_two {
  width: 47%;
  float: right;
}
.projectrole_two h2 {
  margin-bottom: 20px;
  width: 47%;
}

.projectrole_two p {
  margin-bottom: 15px;
  font-size: 16px;
  width: 66%;
  height: 150px;
  color: rgb(124, 118, 118);
}

.photo {
  width: 90%;
  margin: 20px 10%;
  overflow: hidden;
}

.photo_one img {
  width: 50%;
  height: 100%;
  float: left;
}

.photo_two img {
  width: 45%;
  height: 50%;
  float: right;
}

.loadmore {
  margin: 100px auto;
  text-align: center;
}

.loadmore button {
  border: 1px solid rgb(215, 204, 204);
  padding: 15px 30px;
  font-size: 15px;
  background-color: transparent;
}

.bottom {
  width: 90%;
  margin: 20px 10%;
}
.bottom img {
  width: 100%;
  height: 100%;
}
footer {
  overflow: hidden;
}

.fotter_content {
  width: 80%;
  margin: auto;
}

.privacy {

  width: 10%;
  float: left;
  margin: auto;
}

.privacy ul {
  list-style: none;
}

.privacy ul li {
  float: left;
  margin-right: 15px;
  text-align: center;
  line-break: normal;
}

.privacy ul li a {
  text-decoration: none;
  color: #333;
}

.socialnetwork {
  width: 47%;
  float: left;
  margin: auto;
}

.socialnetwork ul {
  list-style: none;
}

.socialnetwork ul li {
  text-align: center;
  text-decoration: none;
}

.socialnetwork ul li a {
  text-decoration: none;
  color: #333;
}

.privacy ul li a {
  text-decoration: none;
}

.About {
  width: 42%;
  float: right;
}

.About ul {
  list-style: none;
}

.About ul li {
  text-align: center;
  text-decoration: none;
}

.About ul li a {
  text-decoration: none;
  color: #333;
}